.div-input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

input {
    color: #fff;
    font-size: 18px;
    width: 70%;
    padding: 10px;
    background-color: #4f4f4f;
    border: none;
    border-radius: 4px;
}

.btn {
    margin-left: 20px; 
    font-size: 15px;
    font-family: Arial;
    width: auto; 
    height: 50px;
    border-width: 1px;
    color: #eef0f3;
    font-weight: bold;
    border-radius: 5px;
    background: linear-gradient(#383a3b, #67696c);
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(#468ccf, #63b8ee);
}

.contant-table {
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itens {
    border-radius: 5px;
    padding: 20px;
    background-color: #807777;
}