.container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #808080;
    padding: 5px;
    border-bottom: 4px solid #696969;
    font-family: sans-serif;
}